{erl_opts, [debug_info]}.
{minimum_otp_vsn, "24"}.
{deps, [
    lager,
    msgpack,
  {wamp_service, {git, "https://github.com/fer-c/wamp_service.git", {branch, "otp_24"}}}
]}.
{shell, [
    {apps, [wamper, awre, hello_world]}
]}.
{relx,
    [{release, {hello_world, "0.0.3"},
        [kernel,
            sasl,
            msgpack,
            wamper,
            awre,
            {wamp_service, load},
            hello_world
        ]},
        {dev_mode, false},
        {include_src, false},
        {include_erts, true},
        {extended_start_script, true},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.
